{% load i18n %}
{% load account socialaccount %}
{% load static%}
{% load widget_tweaks %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block titulo %}<title>Inicia Sesión</title>{% endblock titulo %}

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-dark">

  <div class="container">    

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">¡Bienvenido a tu Ferreteria!</h1>
                  </div>
                  <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}            
                    <div class="form-group">
                      {% render_field form.login type="text" aria-describedby="emailHelp" maxlength="150" class="form-control form-control-user" placeholder="Ingrese su Email..."  %}
                    </div>

                    <div class="form-group">

                      {% render_field form.password type="password" maxlength="150" class="form-control form-control-user" placeholder="Contraseña" id="exampleInputPassword" %}

                    </div>

                    <!-- Esta parte nos permite realizar valadaciones del los errores del formulario -->
                    {% if form.errors %}
                    {% for error_campo in form %}
                    {% for error in error_campo.errors %}
                    <div class="alert alert-warning">
                      <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-warning">
                      <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}


                    <button class="btn btn-primary btn_user btn-block" type="submit">Iniciar Sesión</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <hr>

                    <a href="{% provider_login_url 'google' %}" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Iniciar Sesión Google
                    </a>


                    <a href="{% provider_login_url 'facebook' %}" method="oauth2"
                      class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Iniciar Sesión Facebook
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="" href="{% url 'account_reset_password' %}"> Perdio su contraseña?</a>
                  </div>
                  <div class="text-center">
                    <a class="" href="{% url 'account_signup' %}">Registrate!</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>