{% extends "base.html" %}
{% load static %}
{% block titulo %} Inicio {% endblock titulo %}
{% block cuerpo %}

{% include 'includes/header.html' %}

<div class="row mt-5 detalle ">  
    {% if object.imagen %}
    <div class="col-6 ">
        <img  src="{{object.imagen.url}}" width="500" height="600" class="mx-auto d-block ">
    </div>
    {% else %}
    <div class="col-6">
        <img src="{% static 'img/1.png' %}" width="500" height="600" class="mx-auto d-block" alt="Sin imagen">
    </div>
    {% endif %}   
    <div class="col-5 bg-white "  >
        <h1 class="font-weight-bold" >{{object.Nombre }}</h1>
        <p>
            <h4 class="font-weight-normal" style="text-decoration:underline;">Precio del producto</h4>
            ${{object.precio}}
        </p>
        <p >
            <h4 class="font-weight-normal" style="text-decoration:underline;">Marca</h4>
            {{object.marca}}
        </p>
        <p>
            <h4 class="font-weight-normal" style="text-decoration:underline;">Descripción</h4>
            {{object.descripcion}}
        </p>
        <p>
            <h4 class="font-weight-normal" style="text-decoration:underline;">Stock</h4>
            {{object.stock}}
        </p>
        <p>
            <h4 class="font-weight-normal" style="text-decoration:underline;">Color</h4>
            {{object.color}}
        </p>
        <p>
            <h4 class="font-weight-normal" style="text-decoration:underline;">Color</h4>
            {{object.Nombre}}
        </p>
        {% if request.user.is_authenticated %}
        <div class="row">
            <form class="ml-3" action="/prod/añadircarrito/{{object.pk}}/" method="post"> {% csrf_token %}
                    <label  for="">cantidad</label>
                    <input type="number" name="cantidad" value="1" >   
                    <button class="btn btn-warning" type="submit">Añadir carrito</button>
                    <i class="fas fa-shopping-cart fa-3x text-warning"></i>
            </form>       
        </div>
        {% else %}
        <div class="row">
            <p>Debes <a href="http://127.0.0.1:8000/accounts/login/">iniciar sesión</a> para comprar en nuestro sitio web</p> 
        </div>
        {% endif %}
    </div>
</div>






{% include 'includes/footer.html' %}
{% endblock cuerpo %}