# Python
*.pyc
*.pyo
*.py[cod]
*$py.class
__pycache__
__pycache__/
__pycache__ /
**/__pycache__
*/ __pycache__ /*
**/__pycache__/**
migrations
migrations/
migrations /
*/migrations/*
**/migrations/**

# Django #
*.log
*.pot
*.pyc

# Visual Studio Code #
.vscode/*
!.vscode/settings.json


# pycharm #
.idea
.idea/*

# BD sqlite
development.sqlite3
*.sqlite3


apps/abastecimiento/migrations/__pycache__/
apps/abastecimiento/migrations/__pycache__/*