{% extends 'base/base.html' %}

{% block title %}
Lista
{% endblock title %}


{% block llenar %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"></div>
    <h1 class="h3 mb-2 text-gray-800">Listado de productos</h1>
    
    {% for item in product  %} 
        {% if item.limit_stock == 1   %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close " data-dismiss="alert">×</button>
           <h6 class="text-strong">PRODUCTO: {{ item.Nombre}} ESTA CON STOCK CRITICO</h6>  
        </div>
        {% else %}
        <div class="alert alert-success d-none" role="alert">
            {{item.stock}} 
          </div>
        {% endif %}
            
    
    {% endfor %}    
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary" href="{% url 'prod:producto_new' %}"><i class="far fa-calendar-plus"></i> Nuevo producto</a>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if not product %}
            <div class="alert alert-info"> No hay productos que mostrar</div>
            {% else %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="15">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Tipo_Producto</th>
                            <th>Id_proveedor</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Color</th>
                            <th>Fecha_Modificada</th>
                            <th class="all">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in product %}
                        <tr>
                            <td>{{ item.codigo }}</td>
                            <td>{{ item.Nombre }}</td>
                            <td>{{ item.TipoProducto }}</td>
                            <td>{{ item.id_proveedor }}</td>
                            <td class="
                            {% if item.limit_stock == 1 %} text-danger {% endif %}
                            {% if item.limit_stock == 2 %} text-warning {% endif %} 
                            {% if item.limit_stock == 3 %} text-success {% endif %} " 
                            >{{ item.stock }}</td>
                            <td>{{ item.precio }}</td>
                            <td>{{ item.descripcion }}</td>
                            <td>{{ item.marca }}</td>
                            <td>{{ item.color}}</td>
                            <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                            <td>
                                <a href="{% url 'prod:Producto_edit' item.pk %}" class="btn btn-warning btn-circle"
                                    role="button"><i class="far fa-edit"></i></a>
                                <a href="{% url 'prod:Producto_delete' item.pk %}" class="btn btn-warning btn-danger"
                                    role="button"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-4 container" >
                    <form  action="{% url 'prod:productodeletetodo' %}" method="POST">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="far fa-trash-alt"></i>
                            <span>Limpiar todo</span>
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock llenar %}

{% block js_page %}
       

{% endblock js_page %}
