{% extends 'base/base.html' %}


{% block llenar %}
<form class="p-4" method="POST" role="form" class="form-inline">
    {% csrf_token %}
    {% include 'base/partial/erroreditar.html' %}
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-header" style="font-size: 30px;">Editar nueva categoria</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="text-dark font-weight-bold" for="id_nombre">Nombre</label>
                        <input type="text" name="Nombre" maxlength="50" class="form-control" required id="id_nombre"
                            placeholder="Nombre Categoria" value="{% if categoria %} {{ categoria.Nombre }}{% endif %}">
                        {% if form.Nombre.errors %}
                        {% for error in form.Nombre.errors %}
                        <span class="font-bold col-red text-danger" style="font-size: 12px;">{{ error|escape }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3 " style="margin-top: 30px;">
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning "><span class="fa fa-save"></span>Editar</button>
                        <a href="{% url 'prod:categoria_list' %}" class="btn btn-danger"><span
                                class="fa fa-undo"></span>Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% block js_page %}
{% include 'base/partial/script.html' %}
{% endblock js_page %}
{% endblock llenar %}