{% extends 'base/base.html' %}


{% block llenar %}

<form method="POST">{% csrf_token %}
    <div class="col-xl-9 col-md-9 mb-9">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">EDITAR PRODUCTO
                        </div>
                    </div>
                    <div class="row mt-1" >
                        <div class="col-4">
                            <label class="text-dark">Nombre</label>
                            {{ form.Nombre }}
                        </div>
                        <div class="col-4">
                            <label class="text-dark">Codigo</label>
                            {{ form.codigo }}
                        </div>
                        <div class="col-4">
                            <label class="text-dark">Categoria</label>
                            {{ form.Categoria}}
                        </div>
                        <!--  {{form.as_p}} -->
                    </div>
                    <div class="row" >
                        <div class="col-4">
                            <label class="text-dark">Tipo Producto</label>
                            {{ form.TipoProducto }}
                        </div>
                        <div class="col-4">
                            <label class="text-dark">Id_Proveedor</label>
                            {{ form.id_proveedor }}
                        </div>
                        <div class="col-4">
                            <label class="text-dark">Precio</label>
                            {{ form.precio}}
                        </div>
                        <!--  {{form.as_p}} -->
                    </div>
                    <div class="row mt-1 " >
                        <div class="col-4">
                            <label class="text-dark">Stock</label>
                            {{ form.Stock }}
                        </div>
                        <div class="col-4">
                            <label class="text-dark">Imagen </label>
                            {{ form.imagen }}
                        </div>
                        <div class="col-4">
                            <label class="text-dark">Descripcion </label>
                            {{ form.descripcion }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6" >
                            <label class="text-dark">Marca </label>
                            {{ form.marca}}
                        </div>
                        <div class="col-6" >
                            <label class="text-dark">Color </label>
                            {{ form.color}}
                        </div>
                    </div>
                    <div class="row mt-3 ml-3" >
                        <div class="col">
                            <button type="submit" class="btn btn-warning mt-3 mr-1  "><span
                                    class="fa fa-save"></span>Editar</button>
                            <a href="{% url 'prod:producto_list' %}" class="btn btn-danger mt-3 "><span
                                    class="fa fa-undo"></span>Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</form>
{% endblock llenar %}