{% extends 'base/base.html' %}

{% block title %}
Administrar Usuarios
{% endblock title %}


{% block llenar %}
<div class="col-lg-12">
    <div class="card-header py-3">
        {% if not usuarios %}
        <div class="alert alert-info">No hay usuarios</div>
        {% else %}
        <h5 class="font-weight-bold">Usuarios actualmente registrados</h5>
        
    
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="10">
                <thead>
                    <tr>
                        <th>Nombre</th>  
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Run/Rut</th>
                        <th>Cargo</th>
                        <th>¿Está Activo?</th>
                        <th class="all">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in usuarios %}
                        <tr>
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.rut }}</td>
                            <td>{{ item.cargo }}</td>
                            <td>{{ item.is_active }}</td>
                            <td class="align-item-center">
                                
                                    <a href="{% url 'user:editar_usuario' item.pk %}" class="btn btn-warning btn-circle"
                                    role="button"><i class="far fa-edit"></i></a>
                                                             
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    
</div>

{% endblock llenar %}

{% block js_page %}
       

{% endblock js_page %}
