{% extends 'base/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block llenar %}

<form class="p-4" role="form" method="POST" action="{% url 'user:agregar_usuarios' %}" class="form-inline">
  {% csrf_token %}
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-header" style="font-size: 30px;">Agregar Usuarios</div>
    <div class="card-body ">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Nombre</label>
            {% render_field form.first_name type="text" maxlength="150" class="form-control form-control-user" placeholder="Felipe"  %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Apellidos</label>
            {% render_field form.last_name type="text" maxlength="150" class="form-control form-control-user" placeholder="Perez Muñoz"  %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Correo Electrónico</label>
            {% render_field form.email type="email" maxlength="150" class="form-control form-control-user" placeholder="example@ventas.cl"  %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Run/Rut</label>
            {% render_field form.rut type="text" maxlength="10" class="form-control form-control-user" placeholder="12345678-9"  %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Celular</label>
            {% render_field form.celular type="number" maxlength="9" class="form-control form-control-user" placeholder="912345678"  %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Tipo de Usuario o Rol</label>
            {% render_field form.cargo type="text" maxlength="20" class="form-control form-control-user" placeholder="ventas"  %}
          </div>
        </div>
      </div>
      <div class="row">   
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Contraseña</label>
            {% render_field form.password1 type="password" maxlength="150" class="form-control form-control-user" placeholder="***********"  %}
          </div>
        </div>     
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">Confirme Contraseña</label>
            {% render_field form.password2 type="password" maxlength="150" class="form-control form-control-user" placeholder="***********"  %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">¿Es miembro del staff?</label>
            {% render_field form.is_staff type="checkbox" %}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-dark font-weight-bold">¿Estará Activo?</label>
            {% render_field form.is_active type="checkbox" %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <button href="{% url 'user:agregar_usuarios' %}" class="btn btn-primary btn-user" type="submit">Registrar
              Empleado</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
 </div> 
</form>
{% endblock llenar %}