{% extends 'base/base_backend.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block title %}
    {{ title_page }}
{% endblock title %}

{% block links_css_by_page %}
{% endblock %}

{% block body %}
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"></div>
<h1 class="h3 mb-2 text-gray-800">{{ main_title_content }}</h1>
<div class="row">
    <!-- dashboard -->
    <!-- Monto total de ventas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Monto total de ventas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ monto_total_ventas }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- cant_total_ventas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Cantidad total de ventas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cant_total_ventas }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Precio maximmo
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ precio_maximo }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-arrow-alt-circle-up fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Precio minimo
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ precio_minimo }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-arrow-alt-circle-down fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div> {{ nombre_max_mensual|safe }} nombre aca </div>
<div> {{ mes_max_mensual|safe }} mes aca </div>
<div> {{ cant_max_mensual|safe }} cant aca </div>
<div class="col-lg-12" id="container">
</div>
<br>
<div class="col-lg-12" id="categoria">
</div>
<br>
<div class="col-lg-12" id="grafico3">
</div>
{% block js_page %}
<script>    
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Ventas Anuales'
    },
    xAxis: {
        categories: [
                'Enero', 
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Diciembre'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Valor de Ventas en $'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}$</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        },
         series: {
            dataLabels: {
                enabled: true
            }
        }
    },
    series: 
    [
        {
            name: 'Total de ventas por mes',
            data: {{ reporte_ventas_mensual|safe }}
        },
        {
            name: 'Venta máxima por mes',
            data: {{ venta_max_por_mes|safe }},
            color: 'green',
            visible: false
        },
        {
            name: 'Venta mínima por mes',
            data: {{ venta_min_por_mes|safe }},
            color: 'red',
            visible: false
        },
    ]
    });

</script>

<script>
    nombre_ca = JSON.parse('{{ nombre_categoria|safe }}');
    var nombre = [];
    for (var i in nombre_ca){
        nombre.push(nombre_ca[i])
    }
    cant_cat = JSON.parse('{{ cantidad_categoria|safe }}')
    var cant = [];
    for (var i in cant_cat){
        cant.push(cant_cat[i])
    }
    Highcharts.chart('categoria', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Top 3 Categorias'
    },
    xAxis: {
        min: 0,
        categories: nombre,
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cantidad de Producos Vendidos'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        },
        series: {
            dataLabels: {
                enabled: true
            }
        }
    },
    series: 
    [
        {
            name: 'Cantidad Items por Categoria',
            data:   cant
        },
    ]
    });
</script>  

</div>

<script>

    nombres = JSON.parse('{{ nombre_max_mensual|safe }}');
    var nombre_it = [];
    for (var i in nombres){
        nombre_it.push(nombres[i]);
    }
    datos = JSON.parse('{{ cant_max_mensual|safe }}');
    var valor_it = [];
    for (var i in datos){
        valor_it.push(datos[i]);
    }
    Highcharts.chart('grafico3', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Venta Maxima por mes y diferencia del mes anterior'
    },
    xAxis: {
        categories: nombre_it,
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Valor de Ventas en $'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y}$</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        },
         series: {
            dataLabels: {
                enabled: true
            }
        }
    },
    series: 
    [
        {
            name: ['Maximo Vendido'],
            data: valor_it
        }
    ]
    });

</script>

{% endblock js_page %}

{% endblock %}
