{% extends 'base/base.html' %}


{% block llenar %}
<form class="p-4" role="form" method="POST" class="form-inline">
  {% csrf_token %}
  {% include 'base/partial/erroreditar.html' %}
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-header" style="font-size: 30px;">Nueva marca</div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-3">
                  <div class="form-group">
                    <label class="text-dark font-weight-bold" for="id_nombre">Nombre</label>
                    <input type="text" name="nombre" maxlength="50" class="form-control" required id="id_nombre" placeholder="Nombre Marca"
                    value="">
                    {% if form.nombre.errors %}
                    {% for error in form.nombre.errors %}
                    <span class="font-bold col-red text-danger" style="font-size: 12px;">{{ error|escape }}</span>
                    {% endfor %}
                    {% endif %}
                  </div>
              </div>
              <div class="col-md-3 " style="margin-top: 30px;">
                <div class="form-group">
                  <button type="submit" class="btn btn-success  "><span class="fa fa-save"></span>Guardar</button>
                  <a href="{% url 'prod:marca_list' %}" class="btn btn-danger"><span class="fa fa-undo"></span>Cancelar</a>
                </div>
            </div>
          </div>
      </div>
  </div>
</form>
{% block js_page %}
{% include 'base/partial/script.html' %}
{% endblock js_page %}
{% endblock llenar %}
    