{% load static %}
{% if form.errors %}
    <div class="row">
      <div class="col-md-12">
         <div class="alert alert-danger msj-error">
            <button type="button" class="close msj-close" data-dismiss="alert">×</button>
            <ul>
                {% for field, error in form.errors.items %}
                    <li><strong>{{ field|upper }}:</strong> {{ error|striptags }}</li>
                {% endfor %}
            </ul>
         </div>
      </div>
    </div>
    <div class="d-none">{{ form.errors }}</div>
{% endif %}
{% if form.non_field_errors %}
    <div class="row">
      <div class="col-md-12">
         <div class="alert alert-danger msj-error">
            <button type="button" class="close msj-close" data-dismiss="alert">×</button>
            <ul>
                <li>{{ form.non_field_errors }}</li>
            </ul>
         </div>
      </div>
    </div>
{% endif %}