{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que quiere cerrar sesión?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}

                <div class="modal-body">Seleccione "Cerrar Sesión" si está seguro.</div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-user btn-block"
                                type="submit">{% trans 'Sign Out' %}</button>
                    </div>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                </div>
            </form>
        </div>
    </div>
</div>