{% extends 'base/base.html' %}

{% block title %}
Tipo Producto
{% endblock title %}


{% block llenar %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Listado de TipoProducto</h1>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary" href="{% url 'prod:tipoproducto_new' %}"><i class="fas fa-plus"></i>Nuevo Tipo Producto</a>
        </div>
 
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% if not obj %}
            <div class="alert alert-info"> No hay TipoProducto</div>
            {% else %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Nombre</th>
                            <th>Descipcion</th>
                            <th>Fecha_Creada</th>
                            <th>Fecha_Modificada</th>
                            <th>Unidad_de_Medida</th>
                            <th class="all">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %} 
                        <tr>
                            <td>{{ item.categoria }}</td>
                            <td>{{ item.Nombre }}</td>
                            <td>{{ item.Descripcion }}</td>
                            <td>{{ item.fc|date:"d/m/Y H:i:s" }}</td>
                            <td>{{ item.fm|date:"d/m/Y H:i:s" }}</td>
                            <td>{{ item.Um }}</td>
                            <td>
                                <a href="{% url 'prod:tipoproducto_edit' item.id %}" class="btn btn-warning btn-circle"
                                    role="button"><i class="far fa-edit"></i></a>
                                <a href="{% url 'prod:TipoProducto_delete' item.id %}" class="btn btn-warning btn-danger"
                                    role="button"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-4 container" >
                    <form  action="{% url 'prod:deletetodotipoproducto' %}" method="POST">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <i class="far fa-trash-alt"></i>
                            <span>Limpiar Todo</span>
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock llenar %}